@import "~bootstrap/scss/bootstrap.scss";

body{
    background: black;
}
.hangingRod, .trafficLight {
    background-color: grey;
}

.hangingRod {
    width: 20px;
    height: 100px;
}

.trafficLight {
    width: 75px;
    height: 200px;

}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.light:not(:last-of-type) {
    margin-bottom: 5px;


}

.red {
    background: red; 
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.selected {
   
  box-shadow: 0px 0px 10px 5px cornsilk;

}